################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UnitOfWork/bin/Debug/net8.0
/UnitOfWork/obj
/UnitOfWork.Test/bin/Debug/net8.0
/UnitOfWork.Test/obj
*.sln
/.vs/UnitOfWork/v17
/.vs/
